<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@next"></script>
  <title>Vue.js</title>
</head>

<body>
  <div id="app">
    <form @submit.prevent="onSubmit">
      <input type="text" v-model="todo">
      <button type="submit">Add todo</button>
      <ul>
        <li v-for="todo in todos" :key="todo">{{todo}}</li>
      </ul>
    </form>
  </div>

  <script>
    const App = {
      mounted() {
        this.todos = localStorage.todos ? JSON.parse(localStorage.todos) : [];
      },
      data() {
        return {
          todos: [],
          todo: ''
        }
      },
      methods: {
        onSubmit() {
          this.todos = [...this.todos, this.todo];
          localStorage.todos = JSON.stringify(this.todos);
        }
      }
    }

    Vue.createApp(App).mount('#app')
  </script>
</body>

</html>